*.pyc
*.json

data/ModelNet/*
!data/ModelNet/zs_classes_modelnet40.txt
!data/ModelNet/gzs_classes_modelnet40.txt
!data/ModelNet/zs_text_classes_modelnet40.txt
!data/ModelNet/gzs_text_classes_modelnet40.txt
!data/ModelNet/modelnet40_shape_names.txt
!data/ModelNet/bert_txt_embedding_modelnet40.txt
!data/ModelNet/bert_txt_embedding_modelnet40.mat
!data/ModelNet/seen_unseen_classes_modelnet40.txt
!data/ModelNet/seen_unseen_text_classes_modelnet40.txt
!data/ModelNet/unseen_classes_modelnet40.txt
!data/ModelNet/unseen_text_classes_modelnet40.txt

!data/ModelNet/word2vec_modelnet40.mat
!data/patterns.txt
data/ScanObjectNN/training_objectdataset.h5

saved_model/*
logs/*
runs/*
checkpoints/*
backup/*
results/*
materials/*